{% extends 'base.html.twig' %}
{% block body %}
{% if app.user.title=="superadmin" %}
  {% include('admin/adminnavbar.html.twig') %}
      <main class="content">
      <!-- start -->
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card">
                <div class="mdc-layout-grid__inner">
                  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-9">
                    <section class="purchase__card_section">
                      <p><span class="badge bg-primary mr-1">{{ department |length }}</span> <span class="font-weight-bold" style="color:black;">Department Registered</span></p>
                    </section>
                  </div>
                  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3">
                          <section class="purchase__card_section">
                                   <a href="{{path('department_action')}}" class="mdc-button mdc-button--raised primary-filled-button text-lowercase mb-0" data-mdc-auto-init="MDCRipple">
                                        Add
                                    </a>
                           </section>
                  </div>
                </div>
              </div>
            </div>
            <!--end-->

            <!--start table-->
          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card table-responsive" style="display:block;">
                <div class="card" style="padding-top:3%;">
                 <div class="card-body">
                    <table id="zero_config" class="table tablesorter mt-5">
                      <thead class="text-secondary">
                        <tr>
                          <th>#</th>
                          <th class="text-left text-white font-weight-bold">Department Name</th>
                          <th class="text-left text-white font-weight-bold">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                       {% for temp,show in department %}
                            <tr>
                              <td>{{ temp +1 }}</td>
                              <td class="text-left">{{ show.name }}</td>
                              <td>
                              <a href="/{{ show.id }}/edit/department/name" class="row mdc-button" data-mdc-auto-init="MDCRipple"><i class="material-icons text-green">edit</i></a>
                              <a href="/evaluate/admin/delete/Department/show/{{show.id}}" class="row mdc-button" data-mdc-auto-init="MDCRipple"><i class="material-icons text-red">delete</i></a>
                              <a href="/evaluate/admin/view/Department/member/{{show.id}}" class="row mdc-button" data-mdc-auto-init="MDCRipple"><i class="material-icons text-primary">person</i></a>

                              </td>

                            </tr>
                       {% endfor %}
                        </tbody>
                      </table>
                      </div>
                 </div>
              </div>
            </div>
            <!--end table -->
      </main>
</div>
        <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();
    </script>

{% endif %}

{% endblock %}